## 문자열: 포매팅이란?

In [3]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [4]:
"I eat %s apples." % "five"

'I eat five apples.'

In [5]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [6]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number,day)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [8]:
"I have %s apples" % 3

'I have 3 apples'

In [9]:
"rate is %s" % 3.234

'rate is 3.234'

In [10]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

In [17]:
print("%10s" % "hi")
"%-10sjane." % "hi"

        hi

'hi        jane.'

In [18]:
print("%0.4f" % 3.42134234)
"%10.4f" % 3.42134234

3.4213

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [20]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [21]:

"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [22]:
"I eat {0} apples".format("five")

'I eat five apples'

In [23]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [24]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [25]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [26]:
number = 10
day = "three"

In [27]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [28]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [29]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [41]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [40]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [39]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [42]:
# 공백 채우기
print("{0:=^10}".format("hi"))
"{0:!<10}".format("hi")

====hi====

'hi!!!!!!!!'

In [43]:
y = 3.42134234
print("{0:0.4f}".format(y))
"{0:10.4f}".format(y)

3.4213

'    3.4213'

In [45]:
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [47]:
name = "홍길동"
age = 30

In [48]:
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [49]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [50]:
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [61]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [59]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [60]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [62]:
y = 3.42134234

In [63]:
f"{y:0.4f}"

'3.4213'

In [67]:
f"{y:10.4f}"

'    3.4213'

In [68]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

In [70]:
a = "hobby"
a.count("b")

2

In [73]:
a = "Python is the best choice"
print(a.find("b"))
a.find("k")

14

-1

In [76]:
a = "Life is too short"
a.index("t")

8

In [77]:
a.index("k") # find는 없을시 -1 index는 Error

ValueError: substring not found

In [78]:
",".join("abcd")

'a,b,c,d'

In [79]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [80]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [81]:
# 대문자를 소문자로 바꾸기(lower)
a = "IoT"
a.lower()

'iot'

In [82]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
a.lstrip()

'hi '

In [83]:
# 오른쪽 공백 지우기(rstrip)
a.rstrip()

' hi'

In [84]:
# 양쪽 공백 지우기(strip)
a.strip()

'hi'

In [85]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [86]:
#### 도전하기 #####
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'