### ch2-note4-tuple.ipynb by PA07

## 튜플: tuple 이란?
-  리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
-  리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.
-  immutability of tuple (불가변성 데이터 구조)

In [5]:
even = (2, 4, 6, 8)
print(even)
# 여러 가지 튜플
t1 = ()  # 튜플 초기화
print(t1)
t2 = (1,)
print(t2)
t3 = (1, 2, 3)
print(t3)
t4 = 1, 2, 3
print(t4)
t5 = ("a", "b", ("ab", "cd"))
print(t5)
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

(2, 4, 6, 8)
()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [6]:
# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, "a", "b")
del t1[0]  # Error 튜플은 값을 삭제할수없다.

TypeError: 'tuple' object doesn't support item deletion

In [7]:
# 2. 튜플 요솟값을 변경하려 할 때
#
t1[0] = "c"  # TypeError 튜플은 값을 바꿀수없다.

TypeError: 'tuple' object does not support item assignment

## 튜플: 사용방법

In [9]:
# 인덱싱하기
#
t1 = (1, 2, "a", "b")
print(t1[0])
print(t1[-1])

1
b

In [10]:
# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
print(t1[1:])
print(t1[2:-1])  # ('a',)
print(t1[2:])

(2, 'a', 'b')
('a',)
('a', 'b')

In [11]:
# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [14]:
 # 튜플 곱하기
#
t2 = (3, 4)
print(id(t2))
t2 * 3
print(id(t2))
t2 = t2 * 3
print(id(t2))

1451308916352
1451308916352
1451305265952

In [15]:
# 튜플 길이 구하기
#
t1 = (1, 2, "a", "b")
len(t1)

4